<nav class="navbar navbar-expand-lg" style="background-color: #bbdbf3;">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="onClick('recipe')" href="#">Planon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://www.planon.app/knowledgebase/">Dev Portal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://planongroup.sharepoint.com/sites/Intouch-Home">Intouch
            KB</a>
        </li>
        <li class="nav-item">
          <a (click)="onClick('shopping')" class="nav-link" href="#">To-Do</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<br>