.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.dropdown-menu.show {
  display: block;
}

.media {
  -webkit-box-shadow: 10px 10px 61px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 61px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 61px 6px rgba(0, 0, 0, 0.75);
}

.container:before {
  content: "";
  z-index: 2;
  position: absolute;
  width: 840px;
  height: 550px;
  -webkit-box-shadow: 0 0 0 7px rgb(0, 0, 0);
  -moz-box-shadow: 0 0 0 7px rgb(0, 0, 0);
  box-shadow: 0 0 0 10px rgb(0, 0, 0);
  pointer-events: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
