.media {
  -webkit-box-shadow: 10px 10px 61px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 61px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 61px 6px rgba(0, 0, 0, 0.75);
}

.container:before {
  content: "";
  z-index: 2;
  position: absolute;
  width: 840px;
  height: 560px;
  -webkit-box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.75);
  pointer-events: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
